In [ ]:
import pandas as pd

In [12]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry') #source: internet data

In [13]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [14]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [15]:
#convert beer_serving from int to float
drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [16]:
drinks.dtypes    #see that beer_servings is now float type

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

N/B this particular conversion of data  type above is mostly useful when you read data 
that ought to be numeric and you want to do some calculations on them (maths) but it is save as strings,
then you will employ this conversion method.

# QUESTION: How to define the data types of each column before reading a CSV file

In [21]:
#change the data types during the csv reading process
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype = {'beer_servings': float})
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [24]:
orders = pd.read_table('http://bit.ly/chiporders')

In [25]:
orders.head(7)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69

In [27]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [29]:
#item_price is object (strings) we need to get rid of the $ sign and convert it to numeri (int or float) before using it for any calculation (math)

orders.item_price.str.replace('$', '').astype(float).mean()

<ipython-input-29-86c68685e089>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  orders.item_price.str.replace('$', '').astype(float).mean()

7.464335785374397

In [30]:
orders.item_name.str.contains('chicken').head()

0    False
1    False
2    False
3    False
4    False
Name: item_name, dtype: bool

In [31]:
#if you are building an ML model you can convert the trues and falses into numeric values (0s and 1s) as input to the model
orders.item_name.str.contains('chicken').astype(int).head()

0    0
1    0
2    0
3    0
4    0
Name: item_name, dtype: int32